@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.635;
  font-family: Ubuntu;
}


button{
  all: unset;
}

img{
  width: 5rem;
}

#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #0a0112;
  padding: 2rem;
}

.header a, .header h1 {
  color: white;
  text-decoration: none;
}


.content{
margin: 100px;
}
.content a{
  margin-top:20px;
}
footer {
  background-color: #bdbcbc;
  text-align: center;
  padding: 30px;
} 
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  margin-inline-start: auto;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.produit {
  background: #032d4d14;
  margin: 1.5rem 0.5rem;
  padding: 10px 3rem;
  cursor: pointer;
  border: 2px solid #1746e030;
  border-radius: 4rem;
}

.produit h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.supprimer{
  color: red;
  margin-inline-start: 10px;
}


.modifier{
  color: rgb(27, 27, 255);
}

.header a:hover, .modifier:hover, .supprimer:hover{
  text-decoration: underline;
  cursor:pointer;
}

.add-form {
  margin: 40px auto;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

input, textarea, select {
  width: min(20rem, 100%);
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  font: inherit;
}

textarea{
  height: initial;
}

table {
  border-collapse: collapse;
  width:1000px;
  margin:  auto;
  max-width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 18px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.product{
  gap: 30px;
  display: flex;
  align-items: baseline;
  padding: 100px;
  flex-flow: column;
}

.product img{
  width: 20rem;
  aspect-ratio: 1;
}
